.activitypub-attachments {
    margin-top: 1rem;
    padding: .5rem 0 0;
    border: none;

    .activitypub-attachments-gallery {
        max-width: 100%;

         .elgg-item {
            img {
                width: auto;
                max-height: 500px;
                max-width: 100%;
            }

         }
    }
}

.activitypub-search-results-item {
    .activitypub-search-results-body {
        .elgg-menu-activitypub-follow-container,
        .elgg-menu-activitypub-join-container {
            float: right;
        }
    }
}
